.category--record--btn {
    width:100%;
    padding: 0;
}
.category--record--dropdown {
    width: 100%;
    margin: auto;
    /* text-align: center; */
}

.category--record--toggle {
}

.category--record { 
    width: 80%;
    margin: auto;
    margin-top: 4%;
}

.category--record--wo--operations > button {
    padding-top: 2%;
    padding-bottom: 2%;

}