.edit--subscription--name {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    margin-top: 10%;
}
.edit--subscription{
    width: 80%;
    margin: auto;
}

label {
    color: rgba(0,0,0,50%);
}

.edit--subscription--closemark{
    margin-top: 5%;
    margin-right: 5%;
    text-align:end;
}